<div class="row">
  <div class=" formDiv">
    <h1>Create New Project</h1>
    <h3>All fields are required</h3>
  </div>

  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <select class="showSelect" #newCategory>
          <option value="" disabled selected>Select Project Category</option>
          <option value="social justice">Social Justice</option>
          <option value="medical">Medical</option>
          <option value="entertainment">Entertainment</option>
        </select>
      </div>
      <div class="input-field col s6">
        <input type="text" #newTitle>
        <label>Project Title</label>
      </div>
      <div class="input-field col s6">
        <input type="text" #newManager>
        <label>Project Manager</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input type="number" #newMoneyGoal>
        <label>Money Goal</label>
      </div>
      <div class="input-field col s3">
        <input type="number" #newDaysToGoal>
        <label>Length of Fundraiser (In Days)</label>
      </div>
      <div class="input-field col s6">
        <input type="text" #newCity>
        <label>City and State</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" #newImage>
        <label>Image URL</label>
      </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" #newTeaser>
          <label>Short Description</label>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
          <input type="text" #newDescription>
          <label>Full Description</label>
      </div>
    </div>
    <div class="row">
      <div class="col m9 panel panel-default">
        <div class="panel-heading benefitHeader indigo"><h3>Add Benefit</h3></div>
        <div class="panel-body">
          <div class="input-field col s4">
            <input type="text" #benefitName>
            <label>Name</label>
          </div>
          <div class="input-field col s4">
            <input type="text" #benefitValue>
            <label>Value</label>
          </div>
          <div class="input-field col s4">
            <input type="text" #benefitDescription>
            <label>Description</label>
          </div>
          <br><br><br><br>
          <div class="centerSubmitButton">

            <button class="btn waves-effect waves-light" (click)="submitBenefitForm(benefitName.value, benefitValue.value, benefitDescription.value); benefitName.value=''; benefitValue.value=''; benefitDescription.value='';">Add Benefit
             </button>
           </div>
        </div>
      </div>
      <div class="col m3 panel panel-default">
        <div class="panel-heading benefitHeader indigo"><h3>Stored Benefits:</h3></div>
          <div class="panel-body ">
            <div *ngFor="let benefit of newBenefits">
            {{benefit.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="centerSubmitButton">
      <button class="submitForm btn waves-effect waves-light" (click)="submitForm(newCategory.value, newTitle.value, newManager.value, newTeaser.value, newDescription.value, newMoneyGoal.value, newImage.value, newCity.value, newDaysToGoal.value )">Submit
       </button>
    </div>
    <br><br><br>
    <app-home></app-home>
  </form>
</div>
