.benefitHeader {
  text-align: center;
}

.formDiv {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 5%;
}

.panel-body {
  min-height: 170px;
}

.panel, .panel-default {
  padding: 0;
}

.benefitHeader h3 {
  color: white;
}

button {
  margin-top: 20px;
}

.submitForm {
  width: 120px;
  height: 50px;
}

.centerSubmitButton {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
