<div class="row">
  <div class="col-md-9">
    <div>
      <h2>{{(projectToDisplay | async)?.title}}</h2>
      <img src= "{{(projectToDisplay | async)?.image}}" class="project-image"/>
      <h4>{{(projectToDisplay | async)?.managers}} from {{(projectToDisplay | async)?.city}} </h4>
      <div class="chip">{{(projectToDisplay | async)?.category}}</div>
      <br><br>
      <p [innerHTML]="(projectToDisplay | async)?.description"></p>
      <p>Fundraising Goal: {{(projectToDisplay | async)?.moneyGoal}}</p>
      <p>Days left: {{(projectToDisplay | async)?.daysToGoal}}</p>
    </div>
  </div>
  <div class="col-md-3">
    <app-benefit></app-benefit>
  </div>
</div>
