<h2 class="addMarginBenefits">Benefits</h2>
<div *ngFor="let benefit of (projectToDisplay | async)?.benefits">
  <div class="row">
    <div class="col m12">
      <div class="card indigo">
        <div class="card-content white-text">
          <span class="card-title">{{benefit.name}}</span>
          <p>For donating {{benefit.value}}</p>
          <br><br>
          <p>{{benefit.description}}</p>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>
  </div>
</div>
