<div class="centerHomeHeader">
  <h2>All Projects</h2>

  <div class="input-field">
    <select (change)="onChange($event.target.value)">
      <option value="allCategories" selected="selected">All Categories</option>
      <option value="social justice">Social Justice</option>
      <option value="medical">Medical</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col s4" *ngFor="let project of projects | async | category:filterByCategory">
    <div class="card">
      <div class="card-image hover" (click)="goToDetailPage(project)">
        <img src={{project.image}} class="cardImageStyle">
        <span class="card-title">{{project.title}}</span>
      </div>
      <div class="card-content">
        <h5>${{project.moneyRaised}} / ${{project.moneyGoal}} raised</h5>
        <p>{{project.teaser}}</p>
        <p>{{project.manager}}</p>
        <br>
        <div class="editContainer" *ngIf="currentRoute === '/admin'">
          <app-edit-project [selectedProject]="project"></app-edit-project>
        </div>
      </div>
      <div class="card-action">
        <a class="hover" (click)="goToDetailPage(project)">View Project Details</a>
      </div>
    </div>
  </div>
</div>
